:root {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  line-height: 2;
  word-spacing: 5px;
  font-weight: 400;
  font-size: 10px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #ffa500;
  background-color: #222731;
}

.projects-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 320px;
  height: 100vh;
}

/* Project Slider CSS */
.project-slider {
  position: relative;
  height: 250px;
  width: 100%;
  max-width: 900px;
}

.project-item {
  height: inherit;
}

.btn {
  position: absolute;
  height: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  color: orange;
  background-color: black;
  opacity: 0.4;
  z-index: 99;
}

.btn img {
  height: 32px;
}

.btn:hover {
  opacity: 0.7;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

/* Project Detailed CSS */
.project-detailed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em 3em 1em;
  min-width: 320px;
}

.project-title {
  text-align: center;
}

.project-tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tech-type {
  background-color: black;
  color: orange;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
  border-radius: 1em;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

.project-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Inventory Menu CSS*/
.inv-menu {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/ninohuh-d7b3c.appspot.com/o/Background%2Finventory.png?alt=media");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 300px;
  padding: 1em;
  border-radius: 1rem;
  color: gold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inv-menu h2 {
  margin: 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

.inv-items {
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
  cursor: pointer;
  font-size: 1.3rem;
  min-width: 160px;
}

.selected::before {
  content: "";
  background-image: url("https://firebasestorage.googleapis.com/v0/b/front-end-glossary.appspot.com/o/icons%2Fpoint-right.gif?alt=media");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  left: -10px;
  width: 24px;
  height: 24px;
  display: inline-block;
}

@media screen and (min-width: 480px) {
  .projects-body {
    font-size: 1em;
    padding-top: 2em;
  }

  .btn {
    font-size: 40px;
  }

  .btn img {
    height: 48px;
  }

  .project-slider {
    height: 400px;
  }

  .project-goal {
    max-width: 800px;
  }

  .tech-type {
    padding: 5px 10px 5px 10px;
  }
}
